{% macro navbar(active) %}
    <nav id="nav-main" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php" style="margin-top: -10px;">
                    <img alt="Brand" src="res/square_white_goose.png" style="height: 40px; display: inline;">
                    GooseKBD
                </a>
            </div>
            <ul id="nav-main-links" class="nav navbar-nav nav-collapse">
                <li {% if active=="index" %}class="active"{% endif %}>
                    <a href="index.php">Home</a></li>
                </li>
                <li
                {% if active=="products" %}
                    class="active dropdown"
                {% else %}
                    class="dropdown"
                {% endif %}>
                    <a class="dropdown-toggle" id="navbar-products-dropdown"
                    data-toggle="dropdown" href="#">
                        Products
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="g01.php">G-01</a></li>
                        <li><a href="brass_60p.php">Brass Plates</a></li>
                     </ul>
                </li>
                <li {% if active=="philosophy" %}class="active"{% endif %}>
                    <a href="philosophy.php">Philosophy</a>
                </li>
                <li {% if active=="about us" %}class="active"{% endif %}>
                    <a href="about-us.php">About Us</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nav-collapse">
                <?php
                    session_start();
                    $b1text = '';
                    $b1href = '';
                    $b2text = '';
                    $b2href = '';
                    if(empty($_SESSION["email"]))
                    {
                        $b1text = 'Sign In';
                        $b1href = 'sign-in.php';
                        $b2text = 'Sign Up';
                        $b2href = 'sign-up.php';
                    }
                    else
                    {
                        $b1text = 'My Orders';
                        $b1href = 'profile.php';
                        $b2text = 'Sign Out';
                        $b2href = 'sign-out.php';
                    }
                    print '
                        <li class="{% if active=="sign-in" or active=="profile" %}active{% endif %}">
                            <a href="' . $b1href . '">' . $b1text . '</a>
                        </li>';
                    print '
                        <li class="{% if active=="sign-up" or active=="sign-out" %}active{% endif %}">
                            <a href="' . $b2href . '">' . $b2text . '</a>
                        </li>';
                ?>
            </ul>
        </div>
    </nav>
{% endmacro %}
