{% macro navbar(active) %}
    <nav id="nav-main" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.php">GOOSE KBD</a>
            </div>
            <ul id="nav-main-links" class="nav navbar-nav">
                <li {% if active=="index" %}class="active"{% endif %}>
                    <a href="index.php">HOME</a></li>
                </li>
                <li {% if active=="g01" %}class="active"{% endif %}>
                    <a href="g01.php">PRODUCTS</a>
                </li>
                <li {% if active=="philosophy" %}class="active"{% endif %}>
                    <a href="philosophy.php">PHILOSOPHY</a>
                </li>
                <li {% if active=="about us" %}class="active"{% endif %}>
                    <a href="about-us.php">ABOUT US</a>
                </li>
            </ul>
        </div>
    </nav>
{% endmacro %}
