{% block pre %}{% endblock %}
<head>
    <!-- JQUERY LINK -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- -->

    <!-- BOOTSTRAP LINK -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- -->

    <!-- GOOSE KBD JS AND STYLE -->
    <link rel="stylesheet" href="css/site.css">
    {% block ssheets%}{% endblock %}
    <script src="js/site.js"></script>
    <!-- -->

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <!-- -->

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=7knrjO6WP6">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=7knrjO6WP6" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=7knrjO6WP6" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=7knrjO6WP6">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=7knrjO6WP6" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=7knrjO6WP6">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
</body>
