#g01-text
{
    padding-left: 10%;
    padding-top: 105px;
}
#g01-img
{
    margin-bottom: -50px;
}
#scroll-down
{
    margin-top: 20px;
    margin-bottom: 100px;
}
#drama-text
{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14pt;
}
#speclist
{
    font-size: 18pt;
    padding-right: 10%;
    padding-left: 10%;
}
#speclist-r1c2
{
    padding-left: 10%;
}
