th
{
    font-size: 17pt;
}
td
{
    font-size: 16pt;
}
#orders-title
{
    margin-bottom: 40px;
}

/* fixes some weird thing in firefox and opera */
.img-responsive
{
    width: 95%;
    padding-right: 15%;
}
