body
{
    background-color: #e7e7e8;
    font-family: Raleway;
    margin-top: 90px;
    color: #666666;
}
h1
{
    font-size: 64pt;
    color: #222222;
}
h2
{
    font-size: 42pt;
}
h3
{
    font-size: 36pt;
}
h4
{
    font-size: 24pt;
}
h5
{
    font-size: 16pt;
}
h6
{
    font-size: 12pt;
}
.text-centered
{
    text-align: center !important;
}
.textwall
{
    text-align: left;
    padding-left: 10%;
    padding-right: 15%;
    font-size: 18pt;
}
.light
{
    color: #666666;
}
.dark
{
    color: #222222;
}
.endbuf
{
    padding-bottom: 50px;
}
.hidden
{
    display: none;
}
ul.dashed
{
    list-style-type: none;
    list-style-position: inside;
    padding-left: 4em;
    text-indent: -4em;
}
ul.dashed > li:before
{
    white-space: pre;
    content: "    \2014    ";
}
.btn.outline
{
    background: none;
    padding: 12px 22px;
    text-shadow: none;
}
.btn-primary.outline
{
    border-width: 2px;
    border-style: solid;
    border-color: #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary-outline:focus
{
    border-color: #ff9030;
    color: #ff9030;
}
.btn-primary.outline:active, .btn-primary-outline.active
{
    background: none;
    border-color: #ff4c00;
    color: #ff4c00;
}
