body
{
    background-color: #e7e7e8;
    font-family: Raleway;
    margin-top: 90px;
    color: #666666;
}
h1
{
    font-size: 64pt;
    color: #222222;
}
h2
{
    font-size: 42pt;
}
h3
{
    font-size: 36pt;
}
h4
{
    font-size: 24pt;
}
h5
{
    font-size: 16pt;
}
h6
{
    font-size: 12pt;
}
.text-centered
{
    text-align: center !important;
}
.textwall
{
    text-align: left;
    padding-left: 10%;
    padding-right: 15%;
    font-size: 18pt;
}
.light
{
    color: #666666;
}
.dark
{
    color: #222222;
}
.endbuf
{
    padding-bottom: 50px;
}
.hidden
{
    display: none;
}
